<div style="height:380px;" class="row" id="campus">
  <div class="layout small-7 small-centered columns text-center" >
      <h3>Campus</h3>
      <hr>
      <h5 id="description">We streamline the time, cost, and job hunting process for you. Getting you a programming career in the most efficient and reliable way possible.</h5>
      <button type="button" class="success button" id="button_campus">Learn More</button>
  </div>
</div>

<div style="height:760px;" class="row" id="online">
  <div class="layout small-7 small-centered columns text-center">
    <h3 id="text_online">Online</h3>
    <hr>
    <h5>Become a developer at your own pace. Get unblocked with help from our staff to get back to learning.</h5>
    <div >
      <img id="laptop" src="../images/laptop.png" />
    </div>
    <button type="button" class="success button" id="button_online">Learn More</button>
  </div>
</div>

<div style="height:350px;" class="row" id="hire">
  <div class="layout small-7 small-centered columns text-center">
    <h3 id="text_hire">Hire a Developer</h3>
    <hr>
    <h5 id="hire_description">Hire with Launch Academy and meet emerging Software Developers at an upcoming Career Day!</h5>
    <button type="button" class="success button" id="button_hire">Join Career Day</button>
  </div>
</div>

<div style="height:500px;" class="row" id="partners">
  <div class="layout small-7 small-centered columns text-center">
    <h3 id="text_partners">Hiring Partners</h3>
    <hr>
    <h5 id="partners_description">We work with the very best. We are proud of our partners, who work with us to deliver the best training.</h5>
  </div>

    <div class="small-3 columns text">
      <div class="partners">
        <div class="text-center">
          <img src="../images/hubspot.png" />
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id erat mauris. Duis efficitur accumsan ex. Integer sit amet suscipit augue.</h6>
        </div>
      </div>
    </div>

    <div class="small-3 columns">
      <div class="partners">
        <div class="text-center">
          <img src="../images/fidelity.png" alt="" />
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id erat mauris. Duis efficitur accumsan ex. Integer sit amet suscipit augue.</h6>
      </div>
      </div>
    </div>

    <div class="small-3 columns">
      <div class="partners">
        <div class="text-center">
          <img src="../images/npr.png" class="center" />
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id erat mauris. Duis efficitur accumsan ex. Integer sit amet suscipit augue.</h6>
        </div>
      </div>
    </div>

    <div class="small-3 columns">
      <div class="partners">
        <div class="text-center">
          <img src="../images/datto.png" alt="" />
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id erat mauris. Duis efficitur accumsan ex. Integer sit amet suscipit augue.</h6>
        </div>
      </div>
    </div>
  </div>

<div class="row" style="height:380px;" id="contact">
  <h3 id="text_contact">Contact Us</h3>
  <hr>
  <h5 id="contact_description">If you have questions or just want to say "Hi", drop us a message! We'd love to hear from you.</h5>

<div>
  <form>
      <div class="medium-6 columns">
        <label>
          <input type="text" placeholder="First Name">
        </label>
      </div>
      <div class="medium-6 columns">
        <label>
          <input type="text" placeholder="Last Name">
        </label>
      </div>
  </form>
</div>

<div>
  <form>
      <div class="small-6 columns">
        <label>
          <input type="text" placeholder="Email">
        </label>
      </div>
      <div class="small-6 columns">
        <label>
          <input type="text" placeholder="Phone">
        </label>
      </div>
  </form>
</div>

  <form>
    <div class="small-12 columns">
      <label>
        <input type="text" placeholder="What's on your mind?">
      </label>
    </div>
  </form>

  <div>
    <button type="button" class="success button" id="button_contact">Submit</button>
  </div>
</div>
