<div style="height:380px;" class="row" id="campus">
  <div class="layout small-7 small-centered columns text-center" >
      <h3>Campus</h3>
      <hr>
      <h5>We streamline the time, cost, and job hunting process for you. Getting you a programming career in the most efficient and reliable way possible.</h5>
      <button type="button" class="success button" id="button_campus">Learn More</button>
  </div>
</div>
<div style="height:500px;" class="row" id="online">
  <h3>Online</h3>
  <hr>
  <h5>Become a developer at your own pace. Get unblocked with help from our staff to get back to learning.</h5>
  <button type="button" class="success button" id="button_3">Learn More</button>
  </div>
</div>
